<!DOCTYPE html>
<html lang="en">
<ul class="nav navbar-nav navbar-right">
  {{#if user}}
  <li><a href="/keystone/signout">Sign Out</a></li>
  {{else}}
  <li><a href="/keystone/signin">Sign In</a></li>
  {{/if}}
</ul>
</html>
