html, body {
    height: 100%;
    margin: 0;
}
.ctr-main {
    background-color: #0B0C10;
    min-height: 100%;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.08;
}
.font-primary {
    font-family: 'Titillium Web', sans-serif;
}

.slow-show-1 {
    animation-name: secondary-text-visibility;
    animation-duration: 1s;
    -webkit-animation: secondary-text-visibility 1.0s forwards;
    animation: secondary-text-visibility 1.0s forwards;
}
.slow-show-2 {
    animation-name: secondary-text-visibility;
    animation-duration: 2s;
    -webkit-animation: secondary-text-visibility 2.0s forwards;
    animation: secondary-text-visibility 2.0s forwards;
}
.slow-show-4 {
    animation-name: secondary-text-visibility;
    animation-duration: 4s;
    -webkit-animation: secondary-text-visibility 4.0s forwards;
    animation: secondary-text-visibility 4.0s forwards;
}

a {
    text-decoration: underline;
    text-decoration-style:dashed;
}
a:link {
    color: #C5C6C7;
}
a:visited {
    color: #C5C6C7;
}
a:hover {
    color: #C5C6C7;
}
a:active {
    color: #C5C6C7;
}

.footer {
    position: fixed;
    bottom: 0%;
    font-style: italic;
    width: 100%;
}

.flex-container > div > a:hover {
    color: #66FCF1;
}

::-moz-selection { /* Code for Firefox */
    background: #45A29E;
}

::selection {
    background: #45A29E;
}

.full-width {
    width: 100%;
}
.page-banner > h1 {
    text-align: center;
}
.m-0 {
    margin: 0 !important;
}
.p-0 {
    padding: 0 !important;
}

@media only screen and (min-width: 768px) {
    @keyframes banner-text-shift {
        0% {
            top: 0%;
            left: -100%;
            font-size: 18em;
        }
        50% {
            top: 0%;
            left: 10%;
            font-size: 18em;
        }
        100% {
            top: 100%;
            left: 35%;
            font-size: 8em;
        }
    }
    .main-banner-text {
        position: relative;
        margin: 0;
        display: inline-block;
        color: #66FCF1;
        padding: 20px;
        font-style: italic;
    }
    .slide-in-left {
        animation-name: banner-text-shift;
        animation-duration: 2s;
        -webkit-animation: banner-text-shift 2.0s forwards;
        animation: banner-text-shift 2.0s forwards;
    }
    @keyframes banner-emoji-shift {
        0% {
            right: -100%;
            font-size: 15em;
        }
        50% {
            right: -10%;
            font-size: 15em;
        }
        100% {
            right: -35%;
            font-size: 5em;
        }
    }
    .main-banner-emoji {
        position: relative;
        margin: 0;
        display: inline-block;
        padding: 20px;
    
    }
    .slide-in-right {
        animation-name: banner-emoji-shift;
        animation-duration: 2s;
        -webkit-animation: banner-emoji-shift 2.0s forwards;
        animation: banner-emoji-shift 2.0s forwards;
    }
    @keyframes secondary-text-visibility {
        0% {
            opacity: 0%;
        }
        50% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
    .secondary-banner-text {
        color: #C5C6C7;
        text-align: center;
        font-size: 130%;
    }
    .profile-img {
        padding: 30px;
        margin: 20px;
        height: 10em;
        border-radius: 50%;
        border: 1px solid;
        border-color: #66FCF1;
    }
    .ctr-banner-secondary {
        top: -10%;
        position: relative;
    }
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
    }
    .flex-container > div {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        flex-wrap: nowrap;
        width: 100%;
    }
    .player {
        position: relative;
        display: flex;
        height: 80vh;
        justify-content: center;
    }
    .player > iframe {
        padding: 1% 10%;
        height: 100%;
        width: 100%;
    }
}